<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutDemande</servlet-name>
        <servlet-class>servlets.AjoutDemande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajoutticket</servlet-name>
        <servlet-class>servlets.Ajoutticket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>Solution</servlet-name>
        <servlet-class>servlets.Solution</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>SolutionPage</servlet-name>
        <servlet-class>servlets.SolutionPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Solution</servlet-name>
        <servlet-class>servlets.Solution</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemandesAdmin</servlet-name>
        <servlet-class>servlets.DemandesAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketAdmin</servlet-name>
        <servlet-class>servlets.TicketAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolutionTicket</servlet-name>
        <servlet-class>servlets.SolutionTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjoutDemande</servlet-name>
        <url-pattern>/AjoutDemande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajoutticket</servlet-name>
        <url-pattern>/Ajoutticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>Solution</servlet-name>
        <url-pattern>/Solution</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>SolutionPage</servlet-name>
        <url-pattern>/SolutionPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Solution</servlet-name>
        <url-pattern>/Solution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemandesAdmin</servlet-name>
        <url-pattern>/DemandesAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketAdmin</servlet-name>
        <url-pattern>/TicketAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolutionTicket</servlet-name>
        <url-pattern>/SolutionTicket</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
